* {
  margin: 0;
  padding: 0;
}

/* Aqui vai as congigurações do menu */

body::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #222; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  z-index: 200;
  width: 12vh;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #09a7f0;
  height: 8vh;
  width: 100%;
  z-index: 200;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Aqui termina as congigurações do menu */

.main {
  background: url(Planetary\ Orb\ 04\ -\ 16x9.jpg);
  height: auto;
  width: auto;
  align-content: flex-start;
}
.main {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  text-align: left;
  max-width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main-child {
  max-width: 554px;
}

.main h1 {
  text-align: left;
  font-size: 70px;
  max-width: 800px;
  margin-left: 15px;
}

.main p {
  font-size: 25px;
  margin-left: 15px;
}

.filtro {
  margin-top: 10px;
  font-size: 15px;
}

.todos {
  color: white;
  margin-left: 20px;
}
.visão {
  color: white;
  margin-left: 10px;
}

.projeção {
  color: white;
  margin-left: 10px;
}

.escrita {
  color: white;
  margin-left: 10px;
}

.fotografia {
  color: white;
  margin-left: 10px;
}

.img {
  width: 200px;
}

::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 1 */
}
::-webkit-scrollbar-button {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 2 */
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 3 */
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 4 */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  width: 5px; /* 5 */
}
::-webkit-scrollbar-corner {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 6 */
}
::-webkit-resizer {
  background-color: rgb(0, 0, 0);
  width: 5px; /* 7 */
}

.item {
  margin: 20px;
  max-height: 100%;
}

.label {
  width: 100%;
  padding-top: 0;
  border-top: 5px solid #222;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.titulo {
  color: rgba(255, 255, 255, 0.808);
  text-align: center;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-size: 0.6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.13);
}

.galeria {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .main {
    background: url(planet.mobile.png);
  }

  .main-child {
    max-width: 170px;
  }

  .menu {
    height: 25px;
    font-size: 7px;
  }

  .main h1 {
    font-size: 33px;
    max-width: 300px;
  }

  .main p {
    font-size: 13px;
  }

  .slogam {
    font-size: 11px;
  }

  .main {
    height: 300px;
  }

  .content {
    max-width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .filtro {
    margin-top: 10px;
    font-size: 13px;
  }
  .section {
    max-width: 100%;
    border-top: 2px solid #e3631c;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    text-align: center;
  }

  .section p {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 13px;
  }
  .section h1 {
    color: #e3631b;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .section-h {
    max-width: 100%;
    border-top: 2px solid #e3631c;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    text-align: center;
  }

  .section-h p {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 13px;
  }
  .section-h h1 {
    color: #e3631b;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .img {
    width: 150px;
  }
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #09a7f0;
    flex-direction: column;
    align-items: center;
    transform: translatey(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    padding-top: 10px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    padding-bottom: 10%;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}
